<div class='row'>
<div class="panel panel-default">
  <div class="panel-body">
    <div id="search-component">
      <input #searchBox id="search-box" (keyup)="search(searchBox.value)" class="form-control" placeholder="Search invoice"/>
      <!--<input type="text" [formControl]="term"/>-->
    </div>
    <!--<div>
    <div *ngFor="let invoice of invoices | async" class="search-result" >
      {{invoice.name}}
    </div>
  </div>-->
  </div>
</div>
<div class='panel panel-primary' *ngIf='invoices && invoices.length' [style.margin.px] = 'panelMargin'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class='panel-body' style="max-height: 300;overflow-y: auto;">        
        <div  >
            <div id="invoices" class="col-md-12">
               <invoice-item  *ngFor="let invoice of invoices" [invoice] = "invoice" (deleted)="onInvoiceDeleted($event)" (duplicated) = "onInvoiceDuplicated($event)"></invoice-item>                                      
            </div>
        </div>
    </div>
</div>
</div>